/*Header of the page */
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10000
}

/*Products Table*/
.table th,td {
	border: none !important;
	cursor: pointer;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #2F575D;
   color: #DEE1DD;
 }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #6D9197;
   color: #DEE1DD;
 }
.table > thead > tr > th {
    color: white;
}

.table {
	table-layout: fixed;
	width: 100%;
	margin: 0px;
	border-collapse: separate;
	border-spacing: 2px 0px;
}

body {
  background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}
#columns {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display:inline;
  padding: 50px;
  margin-top: 30px;
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

/*Card attributes (product description) */
.content {
  margin-top: 50px;
}
.card-attr-name {
  font-size: 15px;
  font-weight: bold;
}
.attr-group > div {
  display: inline-block;
}
.attr-group {
  text-align: center;
}

/*Add to Cart button */
.app-button {
  cursor: pointer; cursor: hand;
  background-color: #20d0a4;
  border: 1px solid #1dba93;
	border-radius: 3px;
	font-size: small;
}

/*Cart Button */
.open-cart {
  float: right;
  right: 80px;
  height: 40px;
  width: 90px;
  position: fixed;
	margin-top: 10px;
	font-size: initial;
	border-radius: 5px;
}

/* The Close Button for modal*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #19a4e9;
  color: white;
  height: 40px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #19a4e9;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  margin-top: 120px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
